<div class="introduction-section">
    <div class="introduction-header">
        <div>
            <h3>I am</h3>
        </div>
        <div class="introduction-title">
            <h1>Rafael Tauschek</h1>
            <h2>Fullstack Developer</h2>
        </div>
    </div>
    <div class="introduction-btn">
        <button onclick="document.getElementById('contact').scrollIntoView();">Let's talk!</button>
    </div>
    <div class="introduction-footer">
        <div class="introduction-footer-left">
            <svg xmlns="http://www.w3.org/2000/svg" width="66" height="4" viewBox="0 0 66 4" fill="none">
                <path d="M0 0H-2V4H0V0ZM64 4C65.1046 4 66 3.10457 66 2C66 0.89543 65.1046 0 64 0V4ZM0 4H64V0H0V4Z"
                    fill="#00BEE8" />
            </svg>
            <a target="_blank" href="https://github.com/RafaelTauschek"><img src="./assets/img/icons/github.svg"></a>
            <a href="mailto:tauschek.rafael@gmail.com"><img src="./assets/img/icons/email.svg"></a>
            <a href="#"><img src="./assets/img/icons/linkedin.svg"></a>
        </div>
        <div class="introduction-footer-right">
            <span>Scroll down</span>
            <img src="./assets/img/icons/arrow-down.svg">
        </div>
    </div>
    <img class="green-shadow" src="./assets/img/background-colors/green-shadow-top.png">
    <img class="purple-shadow" src="./assets/img/background-colors/purple-shadow-top.png">
</div>