header {
    padding: 37px 25px;
    position: sticky;
    top: 0;
    background-color: #141D2F;
}

.mobile-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .menu {
        height: 28px;
        width: 30px;
    }

    @media (min-width: 700px) {
        display: none;
    }
}

.desktop-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .menu {
        display: flex;
        gap: 29px;

        .menu-link {
            display: flex;
            flex-direction: column;
            gap: 4px;

            a {
                text-decoration: none;
                color: white;
                font-weight: 400;
                font-size: clamp(1.25rem, 2.5vw, 1.5rem);
                cursor: pointer;

                &:hover {
                    color: #00BEE8;
                    }
            }
        }
    }

    @media(max-width: 699px) {
        display: none;
    }
}

.active-link {
    color: #00BEE8 !important;
}

.inactive-link path {
    fill: transparent;
}
