header {
    background-color: #141D2F;
    backdrop-filter: blur(32.5px);
    padding: 37px 25px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    .content {
        height: 35px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .menu img {
            width: 30px;
            height: 28px;
        }
    }


}