footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 4px solid #00BEE8;
    padding: 50px 0px;
    position: relative;
    z-index: 2;

    @media(min-width: 768px) {
        padding: 50px 50px;
    }

    @media(min-width: 1024px) {
        flex-direction: row;
        justify-content: space-between;
        padding: 50px 75px;
    }

    @media(min-width: 1280px) {
        padding: 50px 100px;
    }

    .logo {
        cursor: pointer;
    }
}


.footer-icons {
    display: flex;
    gap: 40px;
    padding: 20px 0px;

    a {
        &:hover {
            transform: scale(1.25);
            transition: transform 0.1s ease-in-out;
        }
    }
}

p {
    font-size: 16px;

    @media(min-width: 500px) {
        font-size: 18px
    }

    @media(min-width: 1024px) {
        font-size: 23px;
    }
}

.imprint-link-desktop {
    border-bottom: 3px solid transparent;
    display: none;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        border-image: linear-gradient(90deg, #00BEE8 50%, transparent 50%) 2;
        border-image-slice: 1;
    }

    &:visited {
        color: white;
    }

    @media(min-width: 1024px) {
        display: flex;
    }
}

.imprint-link-mobile {
    border-bottom: 3px solid transparent;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        border-image: linear-gradient(90deg, #00BEE8 70%, transparent 50%) 2;
        border-image-slice: 1;
    }

    &:visited {
        color: white;
    }

    @media(min-width: 1024px) {
        display: none;
    }
}

.logo {
    text-decoration: none;
    color: white;
    font-size: 32px;
    color: #00BEE8;
    font-family: Amarante, sans-serif;
}