<footer>
    <div class="footer-section">
        <div class="logo-container">
            <a class="logo" href="#"><span>Rafael</span></a>
            <a class="imprint-link-desktop" [routerLink]="'/imprint'" routerLinkActive="true">Imprint</a>
        </div>
        <p>© Rafael Tauschek 2023</p>
        <div class="footer-icons">
            <a target="_blank" href="https://github.com/RafaelTauschek"><img src="./assets/img/icons/github.svg"></a>
            <a href="mailto:contact@rafael-tauschek.de"><img src="./assets/img/icons/email.svg"></a>
            <a href="#"><img src="./assets/img/icons/linkedin.svg"></a>
        </div>
        <a class="imprint-link-mobile" [routerLink]="'/imprint'" routerLinkActive="true">Impressum</a>
    </div>
</footer>