<form (submit)="sendMail()" ngNativeValidate #myForm="ngForm">
    <div class="user-inputs">
        <label>
            <input placeholder="Your name" required type="text" name="name" [(ngModel)]="user.name" #nameField="ngModel"
                [ngClass]="{
                    'error-border': nameField.invalid && (nameField.dirty || nameField.touched),
                    'correct-border': nameField.valid && (nameField.dirty || nameField.touched)
                  }">
            <div class="user-input-images">
                <img *ngIf="nameField.valid && (nameField.dirty || nameField.touched)"
                    src="./assets/img/icons/check.png">
                <img *ngIf="nameField.invalid && (nameField.dirty || nameField.touched)"
                    src="./assets/img/icons/error.png">
            </div>
            <div class="error-message" *ngIf="nameField.invalid && (nameField.dirty || nameField.touched)">
                <div *ngIf="nameField.errors">Your name is required</div>
            </div>
        </label>

        <label>
            <input pattern="[^@\s]+@[^@\s]+\.[^@\s]+" placeholder="Your email" required type="text" name="email"
                [(ngModel)]="user.email" #emailField="ngModel" [ngClass]="{
                    'error-border': emailField.invalid && (emailField.dirty || emailField.touched),
                    'correct-border': emailField.valid && (emailField.dirty || emailField.touched)
                  }">
            <div class="user-input-images">
                <img *ngIf="emailField.valid && (emailField.dirty || emailField.touched)"
                    src="./assets/img/icons/check.png">
                <img *ngIf="emailField.invalid && (emailField.dirty || emailField.touched)"
                    src="./assets/img/icons/error.png">
            </div>
            <div class="error-message" *ngIf="emailField.invalid && (emailField.dirty || emailField.touched)">
                <div *ngIf="emailField.errors">Your email is required</div>
            </div>
        </label>
        <label>
            <textarea placeholder="Your message" required name="message" [(ngModel)]="user.message"
                #messageField="ngModel" [(ngModel)]="user.message" #emailField="ngModel" [ngClass]="{
                    'error-border': messageField.invalid && (messageField.dirty || messageField.touched),
                    'correct-border': messageField.valid && (messageField.dirty || messageField.touched)
                  }"></textarea>
            <div class="user-input-images">
                <img *ngIf="messageField.valid && (messageField.dirty || messageField.touched)"
                    src="./assets/img/icons/check.png">
                <img *ngIf="messageField.invalid && (messageField.dirty || messageField.touched)"
                    src="./assets/img/icons/error.png">
            </div>
            <div class="error-message" *ngIf="messageField.invalid && (messageField.dirty || messageField.touched)">
                <div *ngIf="messageField.errors">Your message is empty</div>
            </div>
        </label>
    </div>

    <div class="checkbox">
        <input required type="checkbox" name="privacyPolicy" [(ngModel)]="user.privacyPolicy"
            #privacyPolicyField="ngModel">
        <div class="error-message"
            *ngIf="privacyPolicyField.invalid && (privacyPolicyField.dirty || privacyPolicyField.touched)">
            <div *ngIf="privacyPolicyField.errors">Please accept the privacy policy.</div>
        </div>
        I've read the privacy policy and agree to the processing of my data as outlined.
    </div>

    <div class="btn-container">
        <button #sendButton type="submit" [class.send-btn-active]="myForm.form.valid"
            [disabled]="!myForm.form.valid">Send message :)</button>
    </div>
</form>