form {
    display: flex;
    flex-direction: column;
    padding: 30px 25px;
    gap: 12px;

    @media(min-width: 768px) {
        padding: 30px 50px;
    }

    @media(min-width: 1024px) {
        padding: 30px 75px 30px 0px;
    }

    @media(min-width: 1280px) {
        padding: 0px 100px 0px 0px;
    }
}

input {
    padding: 15px 25px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    border-radius: 10px;
    border: 1px solid #4B47FF;
    background-color: #141D2F;
    height: 10px;
    color: white;

    &:focus {
        border: 1px solid #00BEE8;
        background-color: #141D2F;
    }

    &:active {
        border: 1px solid #00BEE8;
        outline: #00BEE8;
        background-color: #141D2F;
    }

    &:hover {
        border: 1px solid #00BEE8;
        outline: #00BEE8;
        background-color: #141D2F;
    }
}


textarea {
    padding: 15px 25px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    border-radius: 10px;
    border: 1px solid #4B47FF;
    background-color: #141D2F;
    color: white;
    height: 130px;

    &:focus {
        border: 1px solid #00BEE8;
        outline: #00BEE8;
        background-color: #141D2F;
    }

    &:active {
        border: 1px solid #00BEE8;
        outline: #00BEE8;
        background-color: #141D2F;
    }

    &:hover {
        border: 1px solid #00BEE8;
        outline: #00BEE8;
        background-color: #141D2F;
    }
}


.btn-container {
    display: flex;
    justify-content: center;

    button {
        border-radius: 10px;
        box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
        border: none;
        background-color: #B6B6B6;
        padding: 15px 30px;
        cursor: pointer;
    }
}


.send-btn-active {
    background-color: #00BEE8 !important;
}

.user-inputs {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.user-input-images {
    height: 25px;
    width: 25px;
    position: absolute;
    right: 20px;
    top: 10px;
}

.error-message {
    color: #E61C40;
    font-size: 14px;
    margin-top: 10px;
}

.error-message-privacy {
    color: transparent;
    font-size: 14px;
    margin-top: 10px;
}

.error-message-active {
    color: #E61C40;
    font-size: 14px;
    margin-top: 10px;
}



.checkbox {
    display: flex;
    align-items: center;
    gap: 8px;

    input {
        accent-color: #00BEE8;
        height: 24px;
        width: 24px;
        opacity: 0;
    }
}


label {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
}


.error-border {
    border: 1px solid #E61C40;
}

.correct-border {
    border: 1px solid #70E61C;
}

.checkbox a {
    color: #4B47FF;
    cursor: pointer;
}

.custom-checkbox-image {
    position: absolute;
    top: 0;
    height: 24px;
    width: 24px;
}
