

<form (submit)="sendMail()" ngNativeValidate #myForm>
    <div class="user-inputs">
        <input placeholder="Your name" required type="text" name="name" #nameField>
        <input placeholder="Your email" required type="text" name="email" #emailField>
        <textarea placeholder="Your message" required name="message" #messageField></textarea>
    </div>
    <div class="checkbox">
        <input required type="checkbox">I've read the privacy policy and agree to the processing of my data as outlined.
    </div>
    <div class="btn-container">
        <button #sendButton type="submit">Send message :)</button>
    </div>
</form>