.background-wave {
    position: absolute;
    width: 100%;
    z-index: -1;
    margin-top: -315px;
}

.skill-section {
    padding-left: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 700;
    font-size: 16px;
}

.col-1,
.col-2,
.col-3,
.col-4 {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 83px;
}

.skill-icons {
    display: flex;
    gap: 91px;
}

.skill-icon {
    object-fit: contain;
    height: 60px;
}


.skill-content {
    display: flex;
    flex-direction: column;
    justify-content: center;


    .skill-header {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 42px;

        h2 {
            font-weight: 700;
            font-size: 90px;
        }
    }

    .skill-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        padding-right: 100px;
        padding-left: 330px;

        p {
            font-weight: 400;
            font-size: 16px;
        }

        a {
            align-self: flex-start;
            margin-top: 40px;

            button {
                padding: 15px 30px;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                border: none;
                background-color: #00BEE8;
                box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
                color: white;
                font-size: 23px;
                font-weight: 400;

                &:hover {
                    transform: scale(1.15);
                    background-color: #4B47FF;
                }
            }
        }

    }
}