<div id="skills" class="skill-section">
    <div class="skill-icons">
        <div class="col-1">
            <div class="flex-column">
                <img class="skill-icon" src="./assets/img/skill-icons/Javascript.svg">
                <span>JavaScript</span>
            </div>
            <div class="flex-column">
                <img class="skill-icon" src="./assets/img/skill-icons/git.svg">
                <span>GIT</span>
            </div>
            <div class="flex-column">
                <img class="skill-icon" src="./assets/img/skill-icons/scrum.svg">
                <span>Scrum</span>
            </div>
            <div class="flex-column">
                <img class="skill-icon" src="./assets/img/skill-icons/Material.svg">
                <span>Material<br>design</span>
            </div>
        </div>

        <div class="col-2">
            <div class="flex-column">
                <img class="skill-icon" src="./assets/img/skill-icons/Angular.svg">
                <span>Angular</span>
            </div>
            <div class="flex-column">
                <img class="skill-icon" src="./assets/img/skill-icons/Firebase.svg">
                <span>Firebase</span>
            </div>
            <div class="flex-column">
                <img class="skill-icon" src="./assets/img/skill-icons/Api.svg">
                <span>Rest-Api</span>
            </div>
        </div>

        <div class="col-3">
            <div class="flex-column">
                <img class="skill-icon" src="./assets/img/skill-icons/Typescript.svg">
                <span>TypeScript</span>
            </div>
            <div class="flex-column">
                <img class="skill-icon" src="./assets/img/skill-icons/Css.svg">
                <span>CSS</span>
            </div>
        </div>

        <div class="col-4">
            <div class="flex-column">
                <img class="skill-icon" src="./assets/img/skill-icons/html.svg">
                <span>HTML</span>
            </div>
        </div>
    </div>
    <div class="skill-content">
        <div class="skill-header">
            <h2>Skills</h2>
            <svg xmlns="http://www.w3.org/2000/svg" width="291" height="4" viewBox="0 0 291 4" fill="none">
                <path d="M2 0C0.89543 0 0 0.89543 0 2C0 3.10457 0.89543 4 2 4V0ZM291 4H293V0H291V4ZM2 4H291V0H2V4Z"
                    fill="#1CE6B6" />
            </svg>
        </div>
        <div class="skill-footer">
            <p>I have gained experience in building projects with various front end technologies and concepts.</p>
            <a href="#"><button class="desktop">Get in touch</button></a>
        </div>
    </div>
    <a class="responsive" href="#"><button>Get in touch</button></a>
</div>