<div class="skill-section">
    <div class="skill-header">
        <div class="headline">
            <h2>Skills</h2>
            <svg xmlns="http://www.w3.org/2000/svg" width="227" height="4" viewBox="0 0 227 4" fill="none">
                <path
                    d="M2 0C0.895431 -9.65645e-08 9.65645e-08 0.89543 0 2C-9.65645e-08 3.10457 0.89543 4 2 4L2 0ZM227 4.00002L229 4.00002L229 1.9845e-05L227 1.96701e-05L227 4.00002ZM2 4L227 4.00002L227 1.96701e-05L2 0L2 4Z"
                    fill="#1CE6B6" />
            </svg>
        </div>
        <div>
            <p>I have gained experience in building projects with various front end technologies and concepts.</p>
        </div>
    </div>
    <div class="skill-icons">
        <div class="column-1">
            <div class="icon-container">
                <img class="icon" src="./assets/img/icons/Javascript.svg">
                <span>JavaScript</span>
            </div>
            <div class="icon-container">
                <img class="icon" src="./assets/img/icons/git.svg">
                <span>GIT</span>
            </div>
            <div class="icon-container">
                <img class="icon" src="./assets/img/icons/scrum.svg">
                <span>Scrum</span>
            </div>
            <div class="icon-container">
                <img class="icon" src="./assets/img/icons/Material.svg">
                <span>Material<br>Design</span>
            </div>
        </div>
        <div class="column-2">
            <div class="icon-container">
                <img class="icon" src="./assets/img/icons/Angular.svg">
                <span>Angular</span>
            </div>
            <div class="icon-container">
                <img class="icon" src="./assets/img/icons/Firebase.svg">
                <span>Firebase</span>
            </div>
            <div class="icon-container">
                <img class="icon" src="./assets/img/icons/Api.svg">
                <span>Rest-Api</span>
            </div>
        </div>
        <div class="column-3">
            <div class="icon-container">
                <img class="icon" src="./assets/img/icons/Typescript.svg">
                <span>Typescript</span>
            </div>
            <div class="icon-container">
                <img class="icon" src="./assets/img/icons/Css.svg">
                <span>CSS</span>
            </div>
        </div>
        <div class="column-4">
            <div class="icon-container">
                <img class="icon" src="./assets/img/icons/html.svg">
                <span>HTML</span>
            </div>
        </div>
    </div>


</div>