
.skill-section {
    display: flex;
    flex-direction: column;
}

.skill-header {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    gap: 25px;
    text-align: left;

    p {
        margin: 0;
        padding-right: 25px;
    }

}

.skill-title {
    display: flex;
    align-items: center;
    gap: 18px;

    h2 {
        margin: 0;
        font-size: 45px;
    }
}

.skill-content {
    display: flex;
    padding: 35px 25px;
    justify-content: center;
    gap: 10px;
}

.skill-icon-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.skill-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;

    p {
        font-size: 14px;
        font-weight: 700;
        margin: 0;
    }
}

.skill-icon {
    object-fit: contain;
    height: 45px;
}

.skill-btn {
    display: flex;
    justify-content: center;
}

button {
    font-size: 16px;
    padding: 15px 30px;
    border: none;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #00BEE8;
    color: white;
    border-radius: 10px;
}
