.introduction-section {
    display: flex;
    flex-direction: column;
}

.introduction-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;

    h3 {
        transform: rotate(-90deg);
        font-weight: 400;
        font-size: 26px;
        margin: 0 auto;
    }
}

.introduction-title {
    display: flex;
    flex-direction: column;
    gap: 15px;

    h1 {
        font-weight: 700;
        font-size: 30px;
        margin-bottom: 0;
    }

    h2 {
        font-size: 24px;
        color: #4B47FF;
        text-transform: capitalize;
        font-weight: 400;
        margin-top: 0;
    }
}

.introduction-btn {
    display: flex;
    justify-content: center;
    padding-top: 70px;

    button {
        padding: 15px 30px;
        border: none;
        border-radius: 10px;
        background-color: #00BEE8;
        color: white;
        font-size: 16px;
        box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
}

.introduction-footer {
    display: flex;
    align-items: center;
    gap: 40px;
    padding-top: 160px;
}
