<div class="introduction-section">
    <div class="introduction-header">
        <h2 class="iam">I am</h2>
        <div class="header-main">
            <h1>Rafael Tauschek</h1>
            <h2>Fullstack Developer</h2>
        </div>
    </div>

    <div class="btn">
        <a href="#"><button>Let's talk!</button></a>
    </div>

    <div class="introduction-footer">
        <div class="footer-left">
            <svg xmlns="http://www.w3.org/2000/svg" width="102" height="4" viewBox="0 0 102 4" fill="none">
                <path d="M0 0H-2V4H0V0ZM100 4C101.105 4 102 3.10457 102 2C102 0.89543 101.105 0 100 0V4ZM0 4H100V0H0V4Z"
                    fill="#00BEE8" />
            </svg>
            <a href="#"><img src="./assets/img/icons/github.svg"></a>
            <a href="#"><img src="./assets/img/icons/email.svg"></a>
            <a href="#"><img src="./assets/img/icons/linkedin.svg"></a>
        </div>
        <div class="footer-right">
            <h3>Scroll down</h3>
            <img src="./assets/img/icons/arrow-down.svg">
        </div>
    </div>
</div>