<div class="introduction">
    <div class="introduction-left">
        <span class="name-intro">I am</span>
    </div>
    <div class="introduction-right">
        <span class="name">Dominik Roth</span>
        <span class="title">Frontend Developer</span>
    </div>


</div>

<div class="contact-btn"><button>Let's talk!</button></div>




<div class="introduction-socials">
    <svg xmlns="http://www.w3.org/2000/svg" width="66" height="4" viewBox="0 0 66 4" fill="none">
        <path d="M0 0H-2V4H0V0ZM64 4C65.1046 4 66 3.10457 66 2C66 0.89543 65.1046 0 64 0V4ZM0 4H64V0H0V4Z"
            fill="#00BEE8" />
    </svg>
    <a href="#"><img src="./assets/img/github_small.png"></a>
    <a href="#"><img src="./assets/img/mail_small.png"></a>
    <a href="#"><img src="./assets/img/linkedIn-small.png"></a>
</div>