.about-me-section {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    padding-right: 25px;

    img {
        height: 450px;
        flex-shrink: 0;
        object-fit: contain;
    }
}

.about-me-content {
    display: flex;
    flex-direction: column;
    gap: 25px;
    color: white;
}

.about-me-paragraphs {
    display: flex;
    flex-direction: column;
    gap: 35px;

    img {
        object-fit: contain;
        height: 50px;
        width: 50px;
    }
}

.second-paragraph,
.thrid-paragraph {
    display: flex;
    gap: 35px;
    align-items: center;
}