<div class="about-me-section">
    <img src="./assets/img/muster-img.png">

    <div class="about-me-content">
        <h2>About me</h2>
        <div class="about-me-paragraphs">
            <div class="first-paragraph">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, repellat vero esse eveniet, ullam
                    voluptatibus aliquam tenetur perferendis earum dolor facere enim voluptas accusantium repudiandae
                    beatae,
                    sapiente quisquam quibusdam veniam.</p>
            </div>
            <div class="second-paragraph">
                <img src="./assets/img/light-bulb.png">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex amet nobis porro tempore modi eaque
                    eligendi
                    quae rerum error quos! Blanditiis minima laboriosam porro, perferendis perspiciatis iusto nobis
                    facilis
                    facere?</p>
            </div>
            <div class="thrid-paragraph">
                <img src="./assets/img/puzzle.png">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, dolor cumque optio soluta possimus cum
                    iusto. Quo, sapiente fuga? Excepturi quis, quibusdam quisquam itaque ipsum officia accusantium ex
                    rem
                    quae?</p>
            </div>
        </div>
    </div>
</div>