<div class="about-me-section" id="about-me" #aboutMeSection>
    <img class="profile-image" src="./assets/img/profilimage.png">
    <img class="background-wave" src="./assets/img/background-colors/background-wave.png">
    <div class="about-me-content">
        <h2>About me</h2>
        <div class="about-me-description">
            <div class="description-header">
                <p>Hello, I am Rafael Tauschek. I am a junior full-stack developer from Nürnberg, Germany. Below are
                    some projects I have developed either alone or in a group.</p>
            </div>
            <div class="description-content">
                <div class="description-icon">
                    <img src="./assets/img/icons/light-bulb.svg">
                </div>
                <div class="description-text">
                    <p>I am enthusiastic about programming. Therefore I decided to visit a programming school. Under
                        this section you can find various programming languages with which I have already worked.</p>
                </div>
            </div>
            <div class="description-content">
                <div class="description-icon">
                    <img src="./assets/img/icons/puzzle.svg">
                </div>
                <div class="description-text">
                    <p>I want to learn every day. A little user note about me: I'm fueled by coffee and good food.
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur debitis in id assumenda
                        amet, reiciendis similique? Distinctio deleniti corporis, adipisci voluptas voluptate totam
                        excepturi voluptatibus laboriosam fuga impedit iusto error!</p>
                </div>
            </div>
        </div>
    </div>
</div>