.about-me-section {
    display: grid;
    grid-template-columns: 0.7fr 1.3fr;
    padding: 100px 100px;

    @media(max-width: 1500px) {
        grid-template-columns: 1fr 1fr;
        padding-right: 10px;
    }

    @media(max-width: 700px) {
        display: flex;
        flex-direction: column;
        padding: 24px 24px;
    }

    h2 {
        font-weight: 700;
        font-size: 90px;

        @media(max-width: 1100px) {
            font-size: 72px;
        }

        @media(max-width: 1000px) {
            font-size: 64px;
        }

        @media(max-width: 900px) {
            font-size: 56px;
        }

        @media(max-width: 800px) {
            font-size: 48px;
        }

        @media(max-width: 700px) {
            font-size: 45px;
        }
    }

    .about-me-content {
        display: flex;
        flex-direction: column;
        gap: 35px;
        font-size: 16px;
        font-weight: 400;
        text-align: left;

        .middle-section {
            display: flex;
            gap: 35px;
            padding-left: 30px;

            @media(max-width: 950px) {
                padding-left: 0;
            }
        }

        .bottom-section {
            display: flex;
            gap: 35px;
            padding-left: 30px;

            @media(max-width: 950px) {
                padding-left: 0;
            }
        }
    }

    .about-me-right {
        display: flex;
        justify-content: center;

        @media(max-width: 700px) {
            order: -1;
        }

        img {
            object-fit: contain;
            width: 593px;
            height: 647px;
            flex-shrink: 0;

            @media(max-width: 1500px) {
                width: 500px;
                height: 620px;
            }

            @media(max-width: 950px) {
                width: 100%;
            }

            @media(max-width: 700px) {
                width: 410.607px;
                height: 448.108px;
            }

            @media(max-width: 400px) {
                width: 100%;
            }
        }
    }
}