.about-me-section {
    display: flex;
    flex-direction: column;

    p {
        font-size: 16px;
    }
}

.about-me-content {
    padding: 75px 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;

    h2 {
        font-size: 45px;
        font-weight: 700;
    }
}

.about-me-description {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.description-content {
    display: flex;
    align-items: center;
    gap: 35px;

    img {
        object-fit: contain;
        width: 50px;
        height: 50px;
    }
}

