<div class="contact-section">
    <div class="contact-title">
        <h2>Contact</h2>
        <svg xmlns="http://www.w3.org/2000/svg" width="84" height="4" viewBox="0 0 84 4" fill="none">
            <path d="M2 2H84" stroke="#00BEE8" stroke-width="4" stroke-linecap="round" />
        </svg>
    </div>
    <div class="contact-content">
        <div class="contact-description">
            <div class="contact-description-title">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="4" viewBox="0 0 22 4" fill="none">
                    <path d="M1.74846e-07 0L-2 -1.74846e-07L-2 4L-1.74846e-07 4L1.74846e-07 0ZM20 4C21.1046 4 22 3.10457 22 2C22 0.895432 21.1046 1.84502e-06 20 1.74846e-06L20 4ZM-1.74846e-07 4L20 4L20 1.74846e-06L1.74846e-07 0L-1.74846e-07 4Z" fill="#1CE6B6"/>
                    </svg>
                <h3>Got a problem to solve?</h3>
            </div>
            <div class="contact-description-body">
                <p>Contact me through this form, I am interested in hearing you, knowing your ideas and contributing to your projects with my work.</p>
                <p>Need a Frontend developer? <b>Contact me!</b></p>
            </div>
        </div>
        <app-contact-form></app-contact-form>
    </div>

</div>