<div class="contact-section" id="contact">
    <div class="contact-header">
        <h2>Contact</h2>
        <svg class="header-svg-mobile" xmlns="http://www.w3.org/2000/svg" width="84" height="4" viewBox="0 0 84 4"
            fill="none">
            <path d="M2 2H84" stroke="#00BEE8" stroke-width="4" stroke-linecap="round" />
        </svg>
        <svg class="header-svg-desktop" xmlns="http://www.w3.org/2000/svg" width="506" height="4" viewBox="0 0 506 4"
            fill="none">
            <path d="M2 2L506 1.99996" stroke="#00BEE8" stroke-width="4" stroke-linecap="round" />
        </svg>
    </div>
    <div class="contact-content">
        <div class="contact-description">
            <div class="contact-description-title">
                <svg class="description-svg-mobile" xmlns="http://www.w3.org/2000/svg" width="22" height="4"
                    viewBox="0 0 22 4" fill="none">
                    <path
                        d="M1.74846e-07 0L-2 -1.74846e-07L-2 4L-1.74846e-07 4L1.74846e-07 0ZM20 4C21.1046 4 22 3.10457 22 2C22 0.895432 21.1046 1.84502e-06 20 1.74846e-06L20 4ZM-1.74846e-07 4L20 4L20 1.74846e-06L1.74846e-07 0L-1.74846e-07 4Z"
                        fill="#1CE6B6" />
                </svg>
                <svg class="description-svg-desktop" xmlns="http://www.w3.org/2000/svg" width="52" height="4"
                    viewBox="0 0 52 4" fill="none">
                    <path d="M0 2L50 2" stroke="#1CE6B6" stroke-width="4" stroke-linecap="round" />
                </svg>
                <h3>Got a problem to solve?</h3>
            </div>
            <div class="contact-description-body">
                <p>Contact me through this form, I am interested in hearing you, knowing your ideas and contributing to
                    your
                    projects with my work.</p>
                <p>Need a Fullstack developer? <b>Contact me!</b></p>
            </div>
        </div>
        <app-contact-form></app-contact-form>
    </div>
    <div class="contact-arrow"><a class="arrow-up" href="#"><svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <g id="arrow-down-line">
                    <path id="Vector"
                        d="M12.9999 16.172L17.6569 11.515C18.0474 11.1245 18.6805 11.1245 19.0709 11.515C19.4614 11.9055 19.4614 12.5385 19.0709 12.929L12.707 19.2929C12.3165 19.6834 11.6833 19.6834 11.2928 19.2929L4.92892 12.929C4.53846 12.5385 4.53846 11.9055 4.92892 11.515C5.31939 11.1245 5.95246 11.1245 6.34292 11.515L10.9999 16.172V5C10.9999 4.44772 11.4476 4 11.9999 4C12.5522 4 12.9999 4.44772 12.9999 5V16.172Z"
                        fill="white" />
                </g>
            </svg>
        </a></div>
</div>
