.contact-section {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.contact-title {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-end;

    h2 {
        font-size: 45px;
        font-weight: 700
    }
}

.contact-content {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.contact-description {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.contact-description-title {
    display: flex;
    align-items: center;

    h3 {
        margin: 0;
        font-size: 23px;
        font-weight: 700;
    }
}

.contact-description-body {
    padding: 0px 25px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    p {
        margin: 0;
        font-size: 16px;
    }
}

.contact-arrow {
    display: flex;
    justify-content: flex-end;
    padding-right: 25px;
    padding-bottom: 50px;
    margin-top: -50px;
}

.arrow-up {
    display: flex;
    transform: rotate(180deg);
    border-radius: 41px;
    border: 2px solid white;
    padding: 8px 8px 7px 7px;
    align-items: center;
    width: 24px;
    height: 24px;

    img {
        width: 24px;
        height: 24px;
    }
}