.contact-section {
    display: flex;
    flex-direction: column;
    padding-top: 140px;


    .contact-header {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-bottom: 85px;
        gap: 28px;

        h2 {
            font-weight: 700;
            font-size: 90px;
        }
    }

    .contact-content {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .content-right {
            display: flex;
            flex-direction: column;

            a {
                padding-top: 20px;
                align-self: flex-end;
                border: 2px solid white;
                padding: 8px 8px 7px 7px;
                flex-shrink: 0;
                border-radius: 41px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 110px;
                margin-bottom: 60px;

                &:hover {
                    border: 2px solid #00BEE8;

                    svg path {
                        fill: #00BEE8;
                    }
                }

                svg {
                    width: 25px;
                    height: 25px;
                    flex-shrink: 0;

                    &:hover {
                        svg path {
                            fill: #00BEE8;
                        }
                        
                    }
                }
            }
        }

        .content-left {
            display: flex;
            flex-direction: column;

            .cotact-left-header {
                display: flex;
                align-items: center;
                gap: 50px;

                h4 {
                    font-weight: 700;
                    font-size: 32px;
                }
            }

            .contact-left-content {
                padding-left: 100px;

                p {
                    font-weight: 400;
                    font-size: 16px;
                    padding-right: 130px;
                }
            }
        }
    }
}