.portfolio-section {
    display: flex;
    flex-direction: column;
}

.portfolio-header {
    display: flex;
    flex-direction: column;

    .portfolio-title {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    h2 {
        font-size: 47px;
    }

    p {
        padding-left: 25px;
        padding-right: 25px;
    }
}

.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media(min-width: 700px) {
        flex-direction: row;
    }
}

.portfolio-description {
    padding: 35px 25px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;

    h3 {
        color: #4B47FF;
        font-weight: 700;
        font-size: 32px;
        line-height: 120%;
        margin: 0;
    }

    h4 {
        color: #00BEE8;
        font-size: 23px;
        font-weight: 400;
        line-height: 120%;
        margin: 0;
    }

    p {
        font-weight: 400;
        font-size: 16px;
        margin: 0;
    }
}


.livetest-btn {
    border-radius: 10px;
    padding: 15px 30px;
    background-color: #4B47FF;
    font-size: 16px;
    border: none;
    color: white;

    &:hover {
        background-color: #00BEE8;
    }
}

.github-btn {
    padding: 15px 30px;
    border-radius: 10px;
    border: 1px solid #00BEE8;
    font-size: 16px;
    background-color: #141D2F;
    color: white;

    &:hover {
        border: 1px solid #1CE6B6;
        background-color: #1CE6B6;
    }
}

.portfolio-btn {
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 50px;

    @media(min-width: 900px) {

    }
}

.portfolio-img {
    object-fit: contain;
}

@media(min-width: 700px) {
    .portfolio-1,
    .portfolio-3,
    .portfolio-5 {
        img  {
            order: 1;
            display: flex;
        }
    
    }
}
