<div class="portfolio-section" id="portfolio">
    <div class="portfolio-header">
        <div class="portfolio-title">
            <svg xmlns="http://www.w3.org/2000/svg" width="52" height="4" viewBox="0 0 52 4" fill="none">
                <path d="M0 2L50 2" stroke="#4B47FF" stroke-width="4" stroke-linecap="round" />
            </svg>
            <h2>Portfolio</h2>
        </div>
        <p>This page is a sample of my work - please feel free to try them out.</p>
    </div>
    <div class="portfolio-content">
        <div class="portfolio-1">
            <img class="portfolio-img" src="">
            <div class="portfolio-description">
                <h3></h3>
                <h4></h4>
                <p></p>
            </div>
            <button class="portfolio-btn">
                <button class="livetest-btn">Live test</button>
                <button class="github-btn">Github</button>
            </button>
        </div>
        <div class="portfolio-2">
            <img class="portfolio-img" src="">
            <div class="portfolio-description">
                <h3></h3>
                <h4></h4>
                <p></p>
            </div>
            <button class="portfolio-btn">
                <button class="livetest-btn">Live test</button>
                <button class="github-btn">Github</button>
            </button>
        </div>
        <div class="portfolio-3">
            <img class="portfolio-img" src="">
            <div class="portfolio-description">
                <h3></h3>
                <h4></h4>
                <p></p>
            </div>
            <button class="portfolio-btn">
                <button class="livetest-btn">Live test</button>
                <button class="github-btn">Github</button>
            </button>
        </div>
        <div class="portfolio-4">
            <img class="portfolio-img" src="">
            <div class="portfolio-description">
                <h3></h3>
                <h4></h4>
                <p></p>
            </div>
            <button class="portfolio-btn">
                <button class="livetest-btn">Live test</button>
                <button class="github-btn">Github</button>
            </button>
        </div>
        <div class="portfolio-5">
            <img class="portfolio-img" src="">
            <div class="portfolio-description">
                <h3></h3>
                <h4></h4>
                <p></p>
            </div>
            <button class="portfolio-btn">
                <button class="livetest-btn">Live test</button>
                <button class="github-btn">Github</button>
            </button>
        </div>

    </div>
</div>









<!-- <div id="portfolio" class="portfolio-section">
    <div class="portfolio-header">
        <svg xmlns="http://www.w3.org/2000/svg" width="52" height="4" viewBox="0 0 52 4" fill="none">
            <path d="M0 2L50 2" stroke="#4B47FF" stroke-width="4" stroke-linecap="round" />
        </svg>
        <h2>Portfolio</h2>
    </div>
    <div class="portfolio-description">
        <p>This page is a sample of my work! scroll down to view other<br> projects I have develped.</p>
    </div>

    <div class="portfolio-pojects">
        <div class="portfolio-top">
            <div [style.background-image]="'url(./assets/img/portfolio/elpolloloco.png)'" class="project-1">
                <img class="portfolio-image" src="./assets/img/background-images/elpolloco-background.png">
                <div class="buttons">
                    <a href="#"><button class="github-btn">Github</button></a>
                    <a href="#"><button class="livetest-btn">Livetest</button></a>
                </div>
                <div class="card">
                    <h4>El Pollo Loco</h4>
                    <p>Jump, run and throw game based on object-oriented approach. Help Pepe to find coins and tabasco
                        salsa to fight against the crazy hen.</p>
                    <h5>JavaScript | HTML | CSS</h5>
                </div>
            </div>
            <div [style.background-image]="'url(./assets/img/portfolio/join.png)'" class="project-2">
                <div class="buttons">
                    <a href="#"><button class="github-btn">Github</button></a>
                    <a href="#"><button class="livetest-btn">Livetest</button></a>
                </div>
                <div class="card">
                    <h4>Join</h4>
                    <p>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories.</p>
                    <h5>Angular | TypeScript | HTML | CSS</h5>
                </div>
            </div>
        </div>

        <div class="portfolio-bottom">
            <div [style.background-image]="'url(./assets/img/portfolio/crm.png)'" class="project-3">
                <div class="buttons">
                    <a href="#"><button class="github-btn">Github</button></a>
                    <a href="#"><button class="livetest-btn">Livetest</button></a>
                </div>
                <div class="card">
                    <h4>Simple CRM</h4>
                    <p>A very Simple Customer Relationship Management system working with CRUD functionality.</p>
                    <h5>Angular | Firebase</h5>
                </div>
            </div>
            <div [style.background-image]="'url(./assets/img/portfolio/pokedex.png)'" class="project-4">
                <div class="buttons">
                    <a href="#"><button class="github-btn">Github</button></a>
                    <a href="#"><button class="livetest-btn">Livetest</button></a>
                </div>
                <div class="card">
                    <h4>Pokédex</h4>
                    <p>Based on the PokeAPI a simple library that provides and catalogues pokemon information.</p>
                    <h5>JavaScript | HTML | CSS | Api</h5>
                </div>
            </div>
        </div>
    </div>
</div> -->