.portfolio-section {
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
    padding-top: 100px;
    margin-top: -100px;
    margin: 0 auto;
}

.portfolio-header {
    display: flex;
    flex-direction: column;
    gap: 35px;

    .portfolio-title {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    h2 {
        font-size: 47px;
        margin: 0;

        @media(min-width: 500px) {
            font-size: 54px;
        }

        @media(min-width: 768px) {
            font-size: 64px;
        }

        @media(min-width: 1024px) {
            font-size: 74px;
        }

        @media(min-width: 1280px) {
            font-size: 84px;
        }

        @media(min-width: 1440px) {
            font-size: 90px;
        }
    }

    p {
        padding-left: 55px;
        padding-right: 25px;
        margin: 0;

        @media(min-width: 1024px) {
            padding-left: 75px;
        }

        @media(min-width: 1280px) {
            padding-left: 100px;
        }
    }
}

.livetest-btn {
    border-radius: 10px;
    padding: 15px 30px;
    background-color: #4B47FF;
    font-size: 16px;
    border: none;
    color: white;
    cursor: pointer;

    &:hover {
        background-color: #00BEE8;
    }
}

.github-btn {
    padding: 15px 30px;
    border-radius: 10px;
    border: 1px solid #00BEE8;
    font-size: 16px;
    background-color: #141D2F;
    color: white;
    cursor: pointer;

    &:hover {
        border: 1px solid #1CE6B6;
        background-color: #1CE6B6;
    }
}

.portfolio-content-section {
    display: flex;
    flex-direction: column;
    gap: 35px;

    @media(min-width: 1024px) {
        padding: 0px 75px;
    }
    @media(min-width: 1024px) {
        padding: 0px 100px;
    }
}

.portfolio-item {
    display: flex;
    flex-direction: column;

    @media(min-width: 1024px) {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 35px;
    }
}

.project-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.portfolio-description {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0px 25px;

    @media(min-width: 768px) {
        padding: 0px 50px;
    }
    @media(min-width: 768px) {
        padding: 0px;
    }
}

.project-title {
    text-align: center;
    font-size: 32px;
    color: #4B47FF;
    font-weight: 700;
    line-height: 120%;
}

.project-technologies {
    text-align: center;
    color: #00BEE8;
    font-size: 23px;
    line-height: 120%;
}

.project-description {
    text-align: center;
    font-size: 16px;
    color: white;
    line-height: 120%;
}

.project-btn-container {
    display: flex;
    justify-content: space-between;
    padding: 35px 25px;
}

.project-img-container {
    padding: 0px 25px;
    display: flex;
    justify-content: center;

    @media(min-width: 768px) {
        padding: 0px 50px;
    }

    @media(min-width: 1024px) {
        padding: 0;
        justify-content: unset;
    }
}

.project-img {
    object-fit: contain;
    width: 80%;
    max-width: 100%;
}
