<div class="portfolio-section" id="portfolio">
    <div class="portfolio-header">
        <div class="portfolio-title">
            <svg xmlns="http://www.w3.org/2000/svg" width="52" height="4" viewBox="0 0 52 4" fill="none">
                <path d="M0 2L50 2" stroke="#4B47FF" stroke-width="4" stroke-linecap="round" />
            </svg>
            <h2>Portfolio</h2>
        </div>
        <p>This page is a sample of my work - please feel free to try them out.</p>
    </div>
    <div class="portfolio-content">
        <div class="portfolio-1  portfolio">
            <img class="portfolio-img" src="./assets/img/portfolio/join.png">
            <div class="portfolio-content">
                <div class="portfolio-description">
                    <h3>Join</h3>
                    <h4>Angular | TypeScript | HTML | CSS | Firebase</h4>
                    <p>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop
                        functions,
                        assign users and categories.</p>
                </div>
                <div class="portfolio-btn">
                    <button class="livetest-btn">Live test</button>
                    <button class="github-btn">Github</button>
                </div>
            </div>
        </div>
        <div class="portfolio-2 portfolio">
            <img class="portfolio-img" src="./assets/img/portfolio/sharkie.png">
            <div class="portfolio-content">
                <div class="portfolio-description">
                    <h3>Sharkie</h3>
                    <h4>JavaScript | HTML | CSS</h4>
                    <p>A simple Jump-and-Run game based on an object-oriented approach. Help sharkie to find coins and
                        poison bottles to fight against the killer whale.</p>
                </div>
                <div class="portfolio-btn">
                    <button class="livetest-btn">Live test</button>
                    <button class="github-btn">Github</button>
                </div>
            </div>
        </div>
        <div class="portfolio-3 portfolio">
            <img class="portfolio-img" src="./assets/img/portfolio/crm.png">
            <div class="portfolio-content">
                <div class="portfolio-description">
                    <h3>Simple CRM</h3>
                    <h4>Angular | Firebase</h4>
                    <p>A very Simple Customer Relationship Management system working with CRUD functionality.</p>
                </div>
                <div class="portfolio-btn">
                    <button class="livetest-btn">Live test</button>
                    <button class="github-btn">Github</button>
                </div>
            </div>
        </div>
        <div class="portfolio-4 portfolio">
            <img class="portfolio-img" src="./assets/img/portfolio/pokedex.png">
            <div class="portfolio-content">
                <div class="portfolio-description">
                    <h3>Pokédex</h3>
                    <h4>JavaScript | HTML | CSS | Api</h4>
                    <p>Based on the PokéAPI a simple library that provides and catalogues pokemon information.</p>
                </div>
                <div class="portfolio-btn">
                    <button class="livetest-btn">Live test</button>
                    <button class="github-btn">Github</button>
                </div>
            </div>
        </div>
        <div class="portfolio-5 portfolio">
            <img class="portfolio-img" src="./assets/img/portfolio/crypto.png">
            <div class="portfolio-content">
                <div class="portfolio-description">
                    <h3>Crypto Converter</h3>
                    <h4>Angular | TypeScript | RestAPI | HTML | CSS</h4>
                    <p>Simple currency converter based on a public API displaying exchange rate charts.</p>
                </div>
                <div class="portfolio-btn">
                    <button class="livetest-btn">Live test</button>
                    <button class="github-btn">Github</button>
                </div>
            </div>
        </div>
    </div>
</div>