.privacy-section {
    display: flex;
    flex-direction: column;
    padding: 50px 25px;
    max-width: 1920px;
    margin: 0 auto;

    @media(min-width: 768px) {
        padding: 50px 50px;
    }
    @media(min-width: 1024px) {
        padding: 50px 75px;
    }
    @media(min-width: 1280px) {
        padding: 50px 100px;
    }

    a {
        color: #00BEE8;
        text-decoration: none;
        cursor: pointer;

        &::after {
            color: #00BEE8;
        }
    }

}